RUNTIME_STREAM_LISTEN=0.0.0.0:8080
ZONE_ID=019f3d3e-997d-7894-9236-c5122634cb4f
VICTORIA_METRICS_URL=http://zone-victoriametrics:8428
VICTORIA_LOGS_URL=http://zone-victorialogs:9428
RUNTIME_STREAM_MAX_CONNECTIONS=1024
RUNTIME_STREAM_MAX_FANOUT_GROUPS=256
RUNTIME_STREAM_MAX_BUFFERED_EVENTS=128
RUNTIME_STREAM_MAX_LIFETIME_SECONDS=300
RUNTIME_STREAM_HEARTBEAT_SECONDS=15
RUNTIME_STREAM_QUERY_INTERVAL_MS=1000
RUNTIME_STREAM_MAX_SNAPSHOT_SECONDS=300
RUNTIME_STREAM_MAX_EVENT_BYTES=262144
RUNTIME_STREAM_MAX_LOG_LINES=100
RUST_LOG=info
